@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #ffffff;
    width: 100vw;
    height:100vh;
}
